@charset "UTF-8";

/* 
 * index.css - 核心基础样式 (已清理冗余)
 * 大部分通用样式已移至 style-main/index.css 和 manager-styles.css
 */

/* 布局辅助 */
.background {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: -90;
  width: 100%;
  height: 100%;
}

.mt-11 {
  margin-top: 30%;
}

/* 快捷容器已移至 style-main/index.css */

