/*主框架*/

#web {
	margin: 0 auto;
}

/*加载动画*/

#loading {
	background-color: #bd4932;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
}

#loading-center {
	width: 100%;
	height: 100%;
	position: relative;
}

#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
}

#object {
	width: 80px;
	height: 80px;
	background-color: #FFF;
	-webkit-animation: animate 1s infinite ease-in-out;
	animation: animate 1s infinite ease-in-out;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
}

@-webkit-keyframes animate {
	0% {
		-webkit-transform: perspective(160px);
	}
	50% {
		-webkit-transform: perspective(160px) rotateY(-180deg);
	}
	100% {
		-webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg);
	}
}

@keyframes animate {
	0% {
		transform: perspective(160px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
		-webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
	}
	100% {
		transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
		-webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
	}
}

/*头部*/

#top {}

/*总内容*/

body {
	margin: 0;
	overflow: hidden;
}

#web {
	position: fixed;
	z-index: 1;
	top: 104px;
	width: 100%;
    height: 158px;
    /*line-height: 500px;
    text-align: center;
    border: 1px solid #000;
    background-color: #FFF;*/
}

#web #top_logo {
	margin: 0 auto; width: 210px; height: 70px;
}

#web #top_logo .logo-item {
	position: absolute;
    display: block;
    width: 210px;
    height: 70px;
}

#web #top {
	margin: 44px auto 0; width: 643px; height: 44px;
}

#web #top #search { float: left; width: 570px;
    background-color: #fff;
    border: 1px #d7d7d7 solid;
    border-right: 0;
    border-radius: 5px 0 0 5px;
}

#web #top #search #search_1 {
	float: left; padding-left: 10px; width: 560px; height: 38px; font-weight: 400px;
    font-size: 16px;
    color: #333;
    font-family: "Microsoft Yahei","Heiti SC";
    background-color: transparent;
}

#web #top .search-button-box {
	float: left; height: 100%; width: 72px;outline: 0;
    font-size: 0;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    border: 1px #aeaeae solid;
    border-left: 0;background: linear-gradient(#bcbcbc,#aeaeae);
}

#web #top .search-button-box .search-button { 
	background-image: url(/img/all_in_one_blue.png);
	position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    padding: 0;
    top: 86%;
    left: 71%;
    outline: 0;
    margin-left: -10px;
    margin-top: -10px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: auto 40px;
    background-position: -840px 0;
}

#head {}

/*底部*/

#bot {
	position: fixed;
	z-index: 1;
	bottom: 0;
	width: 100%;
}

#bot #music {
	float: left; margin: 5px; width: 300px; height: 54px;
}

#bot #github {
	float: right; margin: 22px 10px 5px;
}
