<!--基本格式去除-->

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
a:hover {text-decoration:none}
a{text-decoration:none}
ul,ol{list-style:none}
fieldset,img{border:0}

html, body {
    zoom: 0.9;
    margin: 0;  
    padding: 0;
    background: #f8f8f8;
}

<!--基本格式去除-->

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.mt-11 {
    margin-top: 30%;
}

.z-1 {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.z-2 {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.kuaijie {
    width: 100%;
    max-width: 550px;
}

.kuaijie-a {
    border: solid  1px #ffffff00;
    overflow: hidden;
}

.kuaijie-a:hover {
    border-radius: 10px;
    border: solid 1px #e1e1e1;
    background-color: #0dcaf021;
}

.w {
    width: 40px;
    height: 40px;
    padding: 1px;
}
.w2 {
    width: 40px;
    height: 40px;
    padding: 1px;
    float: left;
}
/*搜索ajx*/

#search_ajx {
	position: fixed;
	z-index: 1;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin-top: 230px;
	left:50%;
}

#search_ajx ul {
	text-align: left;
	
}

#list{
	width:400px;
	border-radius: 5px;
/* 	display:none; */
	background: #fff;
}
#list li{
	margin-top: 2px;
	line-height:36px;
	border-radius: 5px;
}
#list li a{
	font-size:14px;
	color:#000;
	text-decoration:none;
	display:block;
	padding-left: 20px;
	border-radius: 5px;
}
#list li a:hover{
	background:#e8eaed;
	border-radius: 5px;
}

/* 111 */

.kuaijie-a-1 {
    border: solid  1px #ffffff00;
    width: 100px;
    overflow: hidden;
}

.kuaijie-a-1:hover {
    border-radius: 10px;
    border: solid 1px #e1e1e1;
    background-color: #fb67a829;
}

.t1 {
    line-height: 20px;
    height: 20px;
    margin-top: 5px;
    white-space:nowrap;
}

.t2 {
    line-height: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
    white-space:nowrap;
    float: left;
}



.z-4 {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    max-height: 165px;
}